# *********** MY INGONRE SETTINGS BEGIN *************

#uploaded files
/public_html/uploads
#secrets
google_drive_secrets.json
google_drive_token.json
mysqlbackup_service_account_cred.json
config/secrets.php
/docker/mysql/dump
/docker/mysql/data
/docker/nginx/logs
# *********** MY INGONRE SETTINGS END *************

# phpstorm project files
.idea
.vscode
# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant