<div class="resume-company-cooperation">
    <p>Добрый день, {{ contactName }}!</p>
    <br/>
    {% if hasOffers %}
        <p>
            <span>Ранее мы с вами работали, занимались сдачей складского помещения по адресу "{{ offerAddress }}".</span>
            <span>К нам поступили обращения от ряда интересных клиентов на аренду.</span>
            <span>Подскажите, нет ли свободных помещений к аренде в этой локации или возможно в других, по которым мы могли бы посотрудничать с вами?</span>
        </p>
    {% endif %}

    {% if hasRequests %}
        {% if hasOffers %}
            <br/>
        {% endif %}
        <p>
            {% if hasOffers %}
                <span>Также </span>
            {% else %}
                <span>Ранее мы с вами </span>
            {% endif %}
            <span>работали над запросом "<i>{{ requestSummary }}</i>".</span>
            <span>Актуален ли для вас сейчас подбор помещений в аренду или, возможно, вы рассматриваете приобретение?</span>
            <span>Есть очень хорошие предложения сейчас.</span>
        </p>
    {% endif %}

    {% if hasObjects %}
        {% if hasOffers or hasRequests %}
            <br/>
        {% endif %}
        <p>
            Также {{ user.userProfile.isFemale() ? 'хотела' : 'хотел' }} уточнить, нет ли свободных м<sup>2</sup> или
            паллет-мест на ваших текущих складах?
        </p>
    {% endif %}
</div>